
<style>
.handout {
  float: left;
  width: 300px;
  max-width: 45%;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  height: 300px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}
.handout img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
  text-decoration: none;
}
</style>

{% if include.for == 'partner' %}
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/1zjsmspzvdjgwnokhvue1/communicationpartnerimg-1.PDF?rlkey=751nehchx9rlvdjs0ufsjg57q&dl=0">
    <img src="/images/previews/partner.png" />
    Becoming a Great Communication Partner Handout</a>
  </div>

  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/yek4bfiaexiuz635edhhx/Making-Choices-With-Me.pdf?rlkey=e6i1tf8i6kxt6javgbanocs7s&dl=0">
    <img src="/images/previews/assist.png" />
    Making Choices With Me Handout</a>
  </div>
{% else %}
  <div class='handout'>
    <a href="https://www.dropbox.com/s/9kjpncfr4gfhpi5/AAC%20Definitions.pdf?dl=0">
    <img src="/images/previews/terms.png" />
    Important AAC Terms Handout</a>
  </div>
    
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/pjjf603yjwbjgrf6zrffy/Choice-Making.pdf?rlkey=ahx4v9z8ai4jvw0ntgtrisobo&dl=0">
    <img src="/images/previews/choose.png" />
    Choice-Making Support Handout</a>
  </div>
    
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/1zjsmspzvdjgwnokhvue1/communicationpartnerimg-1.PDF?rlkey=751nehchx9rlvdjs0ufsjg57q&dl=0">
    <img src="/images/previews/partner.png" />
    Becoming a Great Communication Partner Handout</a>
  </div>
    
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/udmlnv4xj0l7uw3682m06/Copy-of-miniAACflipbook.pdf?rlkey=6wew9ud7snc637sqz5fussef2&dl=0">
    <img src="/images/previews/iwill.png" />
    AAC "I Will" Commitment Printoffs</a>
  </div>
    
  {% if include.for != 'community' %}
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/z4r2vmsg8but57g6dg6ez/FAILposter-1.PDF?rlkey=f90cqazku49estjketds9yhvh&dl=0">
    <img src="/images/previews/fail.png" />
    AAC - It's OK to F.A.I.L. Handout</a>
  </div>
  {% endif %}
    
  {% if include.for != 'community' %}
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/0d8abb0uutc07t9n7pm9i/model-core-langauge.pdf?rlkey=u2zietiejdoju67fxp4r8xwnf&dl=0">
    <img src="/images/previews/modeling.png" />
    Modeling Core Language for Beginners</a>
  </div>
  {% endif %}

  {% if include.for != 'community' %}
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/zs6e2gf19fiqqbxlcnxsc/modelingposterpdf.PDF?rlkey=iss0gmva32gdr1585ao4ud5j9&dl=0">
    <img src="/images/previews/keys.png" />
    5 Keys to Great AAC Modeling</a>
  </div>
  {% endif %}

  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/yek4bfiaexiuz635edhhx/Making-Choices-With-Me.pdf?rlkey=e6i1tf8i6kxt6javgbanocs7s&dl=0">
    <img src="/images/previews/assist.png" />
    Making Choices With Me Handout</a>
  </div>
    
  {% if include.for != 'community' %}
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/qj7hdfk56nmokdi14lhmo/Literacy-Guide.pdf?rlkey=868faax5q57frk4rlvac99jzu&dl=0">
    <img src="/images/previews/literacy.png" />
    AAC and Literacy Guide</a>
  </div>
  {% endif %}

  {% if include.for != 'community' %}
  <div class='handout'>
    <a href="https://www.dropbox.com/scl/fi/i4uj99b9nhvxjmhm7iw3a/Shared-Reading.pdf?rlkey=9q0kagvfwg3p2enyueh37nly2&dl=0">
    <img src="/images/previews/shared.png" />
    Shared Reading Comprehension Handout</a>
  </div>
  {% endif %}
{% endif %}

<div style='clear: left;'></div>
