<style>
  .fb-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
    object-position: center;
  }  
</style>
<a href="https://www.facebook.com/groups/873436332667973/?ref=group_browse">
<img src="/images/clipart/group.png" class='fb-icon'/>
AAC - Alternative Awesome Communicators
</a>

<a href="https://www.facebook.com/groups/280995758986033/?ref=group_browse">
<img src="/images/clipart/group.png" class='fb-icon'/>
AAC and Literacy
</a>

<a href="https://www.facebook.com/AACFamilyFun/">
<img src="/images/clipart/group.png" class='fb-icon'/>
AAC Family Fun
</a>

<a href="https://www.facebook.com/groups/AACthruMMM/">
<img src="/images/clipart/group.png" class='fb-icon'/>
AAC Through Motivate, Model, Move Out Of The Way</a>

<a href="https://www.facebook.com/groups/nwacsfamily/">
<img src="/images/clipart/group.png" class='fb-icon'/>
NWACS Family AAC Group</a>

<a href="https://www.facebook.com/groups/456220758119314/">
<img src="/images/clipart/group.png" class='fb-icon'/>
Ask Me, I'm An AAC User!</a><br/>
<i style='font-size: 13px;'>(note that this community has very specific rules that need to be followed before posting)</i>
